.sticky {
  position: fixed;
  width: inherit;
  max-width: inherit;
  z-index: var(--index-navbar);
}

.nav {
  display: flex;
  background-color: var(--bg-color);
  height: 10vh;

  font-family: var(--font-secondary);
  font-size: 1.2rem;
  color: var(--navbar-font-color);

  align-items: center;
  list-style: none;
  padding: 0.5em;
  border-radius: 0.3em;
}

.nav > .logo {
  margin-right: auto;
  color: var(--navbar-font-color);
  font-weight: bolder;
}

.nav > * {
  margin-top: 0;
}

.nav > ul:last-child,
.nav > ul {
  margin-right: 0;
  padding-right: 0;
}
