@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Fira+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");

:root {
  box-sizing: border-box;

  --clr-primary: #fcedda;
  --clr-secondary: #ee4e34;

  --clr-primary-trans: #ffe77a;
  --clr-secondary-trans: #ee4d34ba;

  --font-main: "Alfa Slab One";
  --font-secondary: "Josefin Sans";

  font-size: 1em;
}

@media (min-width: 800px) {
  :root {
    font-size: 1.15em;
  }
}
@media (min-width: 1200px) {
  :root {
    font-size: 1.25em;
  }
}

*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  border: 0;
  margin: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: var(--clr-primary);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
